{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: {{ profile.email | gravatar }}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <div class="commenterImage">
                                <img src="{{ profile.email | gravatar }}"/>
                            </div>
            <h1>{{ profile.name }}</h1>

            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="card-group">
        {% for product in profile.products %}
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ product.img_url }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }} </h5>
              <p class="card-text">{{ product.price }}</p>
              <a href="{{ url_for('show_product', product_id=product.id, product_owner=profile.name) }}" class="btn btn-primary">Purchase</a>
            </div>
          </div>
        {% endfor %}
          </div>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}